@import 'variables';

h1 {
    color: $color;
}

h2 {
    color: green;
}

.card-course-item{
    margin-top: 14px;
}

.user-avatar{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

.checkbox-select-all-options{
    width: 20% !important;
    min-width: 150px !important;
    margin: 0 3%;
}
